@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

*{margin:0;padding:0; box-sizing: border-box;}
ul,li{list-style:none;}
a{text-decoration:none;color:#000;}


header{
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00116d;
}

header .logo{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%,-50%);
}

header .logo img{
	display:block;
	width:100%;
	height:auto;
}

.gnb{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 200px;
    transform: translate(-50%,-50%);
}

.gnb a{
    font-family:"Poiret One", "Hanna", sans-serif;
    display: block;
    padding: 10px 30px;
    font-size: 16px;
    text-align: left;
    line-height: 1.8;
    color: #fff;
    transition:all 0.4s;
}

header .gnb a:hover{
	color:skyblue;
}

.bottom{
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
}

.bottom .snsSet{
    margin-left: 15px;
    display: flex;
    justify-content: center;
}
.bottom .snsSet li{
    float: left;
    text-align: center;
    box-sizing: border-box;
}

.bottom .snsSet li a{
    display:block;
    color: #fff;
    font-size: 12px;
    /* padding-bottom: 10px; */
}

.bottom .snsSet li:nth-child(1){
    border-right: 1px solid #fff;
    height: 13px;
    padding-right: 10px;
    margin-right: 10px;
}

.bottom .snsSet li:nth-child(2){
    margin-right: 10px;
}


.bottom .sns{
    display: flex;
    justify-content:space-around;
    margin-right: 20px;
}

.bottom .sns li a{
    color: #fff;
    float: left;
    font-size: 20PX;
    margin-left: 20px;
}


section{
    position: relative;
    margin-left: 15%;
    width: 85%;
}

article{
    position: relative;
    height: 280px;
    width: 280px;
    float: left;
}

article{animation: scale1 1s;}
@keyframes scale1 {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}


article:nth-child(1){width: 60%; background-color: #00116d; 
    width: 60%;height: 560px;}
article:nth-child(2){width: 40%; background-color: #ccc;}
article:nth-child(3){width: 20%; background-color: #bbb;}
article:nth-child(4){width: 20%; background-color: #aaa;}

article:nth-child(5){width: 20%; background-color: #999;}
article:nth-child(6){width: 40%; background-color: #888;}
article:nth-child(7){width: 20%; background-color: lightblue;}
article:nth-child(8){width: 20%; background-color: lavender;}

article:nth-child(9){width: 40%; background-color: #555;}
article:nth-child(10){width: 20%; background-color: #444;}
article:nth-child(11){width: 20%; background-color: #333;}
article:nth-child(12){width: 20%; background-color: yellowgreen;}

/* header, section{
    transition: all 0.6s;
} */

article > div{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}

article .bg{
    height: 100%;
    background-size: cover;
    background-position: center;
}

article .bg1{
    background-image: url(/0925/슈퍼문/images/1.png);
}
article .bg2{
    background-image: url(/0925/슈퍼문/images/3.png);
}
article .bg3{
    background-image: url(/0925/슈퍼문/images/4.jpg);
}
article .bg4{
    background-image: url(/0925/슈퍼문/images/5.jpg);
}
article .bg5{
    background-image: url(/0925/슈퍼문/images/6.jpg);
}
article .bg6{
    background-image: url(/0925/슈퍼문/images/7.jpg);
}
article .bg7{
    background-image: url(/0925/슈퍼문/images/8.png);
}

article .bg span {
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 60px;
    transform:scale(10);    
    opacity: 0;
    transition: all 0.6s;
    color: #666;
}

article .bg:hover span{
    opacity: 1;
    transform:scale(1);
}

article .bg1 span {
    font-size: 100px;
    transform: rotateY(360deg);
    transition: all 0.5s;
}

article .bg1:hover span{
    transform: rotateY(0deg);
    opacity: 1;
}

article .txt {
    color: #444;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding:30px 40px 0;
    transition: all 0.5s;
    /* 글씨를 띄워서 보여주려고*/
}


article .txt strong{
    font-size: 30px;
    /* line-height:-60; */
    color: #444;
    margin-bottom: 20px;
    display: block; /*블럭요소로 변경(줄바뀜)*/
    transition: all 0.5s;
}

article .txt1 img{
    position: absolute;
    bottom: 30px;
    right: -250px;
    opacity: 0.5;
    transition: all 0.5s;
}

article .txt i{
    font-size: 200px;
    /* color: #444; */
    position: absolute;
    bottom: -20px;
    right: -200px;
    opacity: 0.5;
    transition:all 0.5s;
    /* 화살표 크게 확대한 후 오른쪽으로 안보이게 이동 */
}

article:nth-child(3) .txt i{
    font-size: 200px;
    color: #444;
    position: absolute;
    bottom: -20px;
    right: -15px;
    opacity: 0.5;
}


article .txt1:hover{
    background-color: skyblue;
}

article .txt1:hover img{
    right: 0;
}

article:hover .txt i{
    right: 0;
    opacity: 0.5;
}

article:hover .txt2{
    background-color: rgb(39, 163, 246);
    color: #fff;
}

article:hover .txt3{
    background-color: yellow;
}

article:hover .txt4{
    background-color: rgb(0, 190, 60);
    color: #fff;
}

article:hover .txt strong{
    color: #fff;
    /* 제목글자 흰색으로 변경 */
}

article:hover .txt1 strong{
    color: #444;
    /* 제목글자 흰색으로 변경 */
}

article:hover .txt3 strong{
    color: #444;
    /* 제목글자 흰색으로 변경 */
}

article:hover .txt5{
    background-color: rgb(60, 48, 43);
    color: #fff
}
