/* 기본 리셋 */
* { margin: 0; padding: 0;}
ul li {list-style: none;}
a {color: #000;text-decoration: none;}

/* 전체 헤더 영역 */
.header_out {
    width: 100%;
    position: relative;
    height: 280px;
    z-index: 5;
}

/* 내부 헤더 박스 */
header {
    width: 1200px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
}

/* SNS 영역 */
.sns {
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}
.sns li {
    float: left;
    margin-left: 15px;
}

/* 로그인 메뉴 */
.lnb {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}
.lnb li {
    float: left;
    margin-left: 15px;
    background: url(../images/bar.png) no-repeat 100% 50%;
}
.lnb li:last-child {
    background: none;
}

/* 로고 */
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.logo img {
    width: 250px;
    height: auto;
}

/* 메인 메뉴 */
.main_menu {
    position: absolute;
    top: 220px;
    left: 0;
    width: 100%;
}

.main_menu .gnb {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.main_menu > .gnb > li {
    float: left;
    text-align: center;
}

.main_menu ul li a {
    display: block;
    width: 240px;
    height: 60px;
    line-height: 60px;
    background-color: #333;
    color: #fff;
}

/* 서브 메뉴 */
.main_menu ul li ul {
    position: absolute;
    background-color: #333;
    height: 0px;
    overflow: hidden;
    transition: all 0.35s;
}
.main_menu .gnb:hover li ul {
    height: 180px;
    padding: 10px 0;
}

/* 섀도우 영역 */
.shadow {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: #333;
    transition: all 0.35s;
    z-index: 1;
}
.main_menu:hover .shadow {
    height: 180px;
    border-bottom: 1px solid #ccc;
}

/* 메인 이미지 */
.main1 img {
    display: block;
    width: 100%;
    height: auto;
}

